:root {
  --primary-color: #FFFFD0;
  --seconndary-color: #F3CCFF;
  --text-color: #A555EC;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

.container,
footer {
  text-align: center;
  margin: 2rem;
}

a {
  color: var(--text-color);
}

a:checked {
  color: var(--text-color);
}
